# requirements.txt
beautifulsoup4==4.12.2
google-search-results==2.4.1
google-api-python-client==2.130.0
huggingface-hub==0.22.0
llama-cpp-python==0.2.0
networkx==3.1
fake-useragent==1.5.0
psycopg2-binary==2.9.6
pyarrow==14.0.0
wikipedia==1.4.0
qdrant-client==1.9.0
weaviate-client
sentence-transformers==2.3.1
ctransformers==0.2.10
cohere==5.5.3
faiss-cpu==1.8.0
types-cachetools==5.3.0.5
pinecone-client==3.0.3
pymongo==4.6.0
supabase==2.3.0
certifi==2023.11.17
psycopg==3.1.9
psycopg-binary==3.2.1
fastavro==1.8.0
celery==5.3.6
redis==5.0.1
flower==2.0.0
metaphor-python==0.1.11
pywin32==306
langfuse==2.33.0
metal-sdk==2.5.0
markupsafe==2.1.3
boto3==1.34.0
numexpr==2.8.6
qianfan==0.3.5
pgvector==0.2.3
pyautogen==0.2.0
langchain-google-genai==1.0.1
langchain-cohere==0.1.5
elasticsearch==8.12.0
pytube==15.0.0
dspy-ai==2.4.0
assemblyai==0.26.0
litellm==1.38.0
chromadb==0.4
langchain-anthropic==0.1.6
langchain-astradb==0.3.3
langchain-openai==0.1.1
zep-python==2.0.0rc5
langchain-google-vertexai==1.0.3
langchain-groq==0.1.3
langchain-pinecone==0.1.0
langchain-mistralai==0.1.6
couchbase==4.2.1
youtube-transcript-api==0.6.2
markdown==3.6
langchain-chroma==0.1.1
upstash-vector==0.4.0
gitpython==3.1.43
cassio==0.1.7
unstructured==0.14.4
langchain-aws==0.1.6
langchain-mongodb==0.1.6
kubernetes==30.1.0
firecrawl-py==0.0.16
json-repair==0.25.2
langchain-nvidia-ai-endpoints==0.1.2
langchain-google-calendar-tools==0.0.1
langchain-milvus==0.1.1
crewai==0.36.0
langwatch==0.1.10
langsmith==0.1.86
yfinance==0.2.40
langchain-google-community==1.0.6
wolframalpha==5.1.3
astra-assistants==2.0.15
